.content {
    padding: 0px;
}

.mat-list-item {
    color: black !important;
}

.item-list .mat-list-item {
    height: auto;
}

.item-photo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.item-widget {
    cursor: pointer;
}

.mat-tab-label {
    color: black;
}