.header-spacer {
    flex: 1 1 auto;
}

.header-link {
    color: #FFFFFF;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: none;
}

.header-toolbar {
    height: 85px;
}

.search-form {
    width: 500px;
    margin-left: 50px;
}

.search-field {
    width: 100%;
}